.container .container-background{
     display: flex;
    height: 100vh;
    justify-content: center;
    padding: 10px;
    align-items: center;
    background: #fff;
    }

.container-background .container-inner{
     max-width: 550px;
    width: 100%;
    background: #32004a;
    padding: 25px 30px;
    align-items: center;
    box-shadow: 0 15px 15px -2px #666666;
    border-radius: 10px;
}

.container .information{
    height: 5%;
    width: 100%;
    margin-bottom: 25px;
    color: #fff;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.container-inner form .form-details{
     height: 75%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    padding: 15px;
}

.form-details .input-box{
   margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    position: relative;
}

.form-details .input-box input[type=text]{
     height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    transform: .3s;
    padding-left: 45px;
    background:#570c69;
    border: none;
    color: #fff;
}

.form-details .input-box input:focus{
    border-color: #93278f;
    box-shadow: 0 0 8px 0 #93278f;
}

#user{
    position: absolute;
    left: 8px;
    top: 8px;
    color:rgb(92, 3, 95)  ;
    background: #fff;
    border-radius: 50%;
    border: 5px solid #fff;
}

input::placeholder{
    color: #fff;
}

.button-box{
    height: 20%;
    position: relative;
    overflow: hidden;
}

.button-box input[type=submit]{
    height:50% ;
    width: 25%;
    border-radius: 10px;
    background: #93278f;
     border: none;
    font-size: 18px;
    color: #fff;
    position: absolute;
    bottom: 45px;
    left: 170px;
}